<header class="site-header" role="banner">

    <nav id="site-nav"{% if page.portfolio %} class="portfolio" {% endif %}>
        <div class="wrapper">
            {% if page.portfolio %}
            <a id="home" title="Back Home" href="{{ "/" | relative_url }}">home</a>
            {% else %}
            <a title="Recent Projects"{% if page.portfolio %} class="active" {% endif %} href="{{ "/recent-projects" | relative_url }}"><span class="hs">Recent</span> Projects</a>
            {% endif %}
            <a title="Send Me an Email" href="mailto:mail@andrewmunroe.com">mail@andrewmunroe.com</a>
        </div>
    </nav>

</header>
