<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="I'm an award-winning digital producer based in Vancouver, BC. I develop, design, manage, and write for digital projects — mostly things related to journalism, non-profits, and education.">
  <title>Andrew Munroe | Digital Producer</title>
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <script src="{{ "/assets/js/circletext.min.js" | relative_url }}"></script>
  <link rel="stylesheet" href="https://brick.freetls.fastly.net/Roboto:400,700">
</head>