---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)*/a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

// Variables
$black: #191919;
$white: #ffffff;
$canary-m-burns: #FAFF78;

@mixin medium {
  @media (min-width: 34rem) {
    @content;
  }
}

@mixin large {
  @media (min-width: 42rem ) {
    @content;
  }
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 1.7;
}

section, header {
  margin-top: 3rem;
  padding: 1rem 2rem;
  @include medium { padding: 2rem; }
  @include large { padding: 2rem 6rem; }
  max-width: 54rem;
}

footer {
  padding: 2rem 2rem 0;
  @include large { padding: 2rem 6rem 0; }
  max-width: 54rem;
  p {
    border-top-left-radius: 0.15rem;
    border-top-right-radius: 0.15rem;
    background: $black;
    color: $white;
    display: inline-block;
    padding: 2rem;
  }
}

div.flex {
  @include medium {
    display: flex;
  }
}

div#profiles {
  padding: 1rem 0 0 0;
  @include medium {
    min-width: 160px;
    min-height: 150px;
    padding: 0 0 0 1rem;
    transform: translateY(-10px);
    text-align: center;
  }
  @include large {
    padding: 0 0 0 2rem;
    min-width: 200px;
    background: none;
  }
  figure {
    display: inline-block;
    figcaption.label {
      margin-bottom: 0;
      text-align: center;
    }
    &:first-of-type {
      margin-right: 1rem;
    }
    @include medium {
      &:first-of-type {
        margin-right: 0;
      }
      &:last-of-type {
        transform: translate(-25px, 20px);
      }
    }
    @include large {
      &:last-of-type {
        transform: translate(-20px, 20px);
      }
    }
  }
}

button {
  color: $black;
  font-family: 'Inter', sans-serif;
  border: 1px solid $black;
  background: none;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  min-width: 110px;
  width: 49%;
  @include medium { width: auto; }
  font-size: 0.7rem;
  cursor: pointer;
  transition: all 0.15s;

  &:hover, &:focus {
    box-shadow: inset 0 0 0 0.1rem transparentize($black, 0.5);
  }

  &.active {
    color: $white;
    background: $black;
  }
}

.button-group {

  button {
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 1%;

    @include medium {
      &:first-of-type {
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
      }

      &:last-of-type {
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
      }
    }
  }
}

h1 {
  font-size: 1.6rem;
  @include medium { font-size: 2rem; }
  @include large { font-size: 3rem; }
  font-weight: 900;
  line-height: 1.4;
  color: $white;
  display: inline;
  background: $black;
  transition: all 0.15s;
}

h3 {
  line-height: 1.4;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

p {
  max-width: 38rem;
}

.label {
  display: block;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  font-weight: 900;
  color: $black;
  transition: all 0.15s;
  border-bottom: 1px dotted;

  &:hover, &:focus {
    background-color: $black;
    color: $white;
  }
}

footer p {

  > span:first-child {
    display: none;
  }

  a {
    color: $white;

    &:hover, &:focus {
      background-color: $white;
      color: $black;
    }
  }
}

figure {
  img.round {
    width: 70px;
    height: 70px;
    @include large {
      width: 90px;
      height: 90px;
    }
    border-radius: 50%;
    border: 3px solid $white;
  }
}

div.portfolio-item {
  border-bottom: 1px solid lighten($black, 70%);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  @include medium { align-items: center; }

  div.info {
    min-width: 250px;
    padding-right: 2rem;
  }

  img {
    max-width: 60px;
    height: auto;

    &.wide {
      max-width: 100px;
    }

    &#dlsph {
      max-width: 160px;
    }
  }

  p {
    margin-top: 1rem;
  }

  &.hidden {
    display: none;
  }
}

/// Display Modes
//////////////////
/// fancy

body.fancy {
  background: linear-gradient(to bottom left, #C1EDFF, #FDFFC4);
  h1, button.active, a:hover, a:focus {
    background: $canary-m-burns;
    color: $black;
  }
  button {
    &:hover, &:focus {
      box-shadow: inset 0 0 0 0.1rem transparentize($canary-m-burns, 0.2);
    }
  }
  figure img.round {
    border-color: $canary-m-burns;
  }
}

body.bad {
  .button-group {
    button {
      transition: all 0.3s;
      border-radius: 50%;
      &:hover, &:focus {
        padding: 4rem;
      }
    }
    button.active {
      transform: translate(20px, 70px);
    }
    button:first-of-type {
      position: fixed;
      top: 0;
      right: 0;
    }
  }

  .label {
    font-family: 'Papyrus', 'Copperplate Gothic', 'Impact', cursive;
  }

  h1 {
    line-height: 0.3;
    display: block;
    padding: 2rem 0;

    &:hover {
      line-height: 7;
      cursor: help;
    }
  }

  .flex.portfolio-item {
    display: block;
    padding: 0;
    border-bottom: 40px solid;
    div.info {
      margin: 0 auto;
      min-width: 0;
      width: 40px;
      overflow-x: scroll;
      border: 2px solid;
    }
    p {
      text-align: justify;
      max-width: none;
    }

    img {
      height: 90px;
      max-width: 20px;
    }
  }

  p a {
    font-family: serif;
    font-size: 2rem;
  }

  a {
    &:hover, &:focus {
      color: $black;
      background: $black;
    }
  }

  #profiles {
    figure:first-child {
      img {
        animation: waggle-left 0.7s reverse infinite;
      }
    }
    figure:last-child {
      img {
        animation: waggle-up 1.3s infinite;
      }
    }
  }

  main section:last-of-type {
    padding: 0;
    max-width: 100%;
  }

  footer p > span:first-child {
    display: inline;
  }

  footer p > span + span {
    display: none;
  }
}

@keyframes waggle-left {
  0% { transform:translateX(10px); }
  50% { transform:translateX(-10px); }
  100% { transform:translateX(10px); }
}

@keyframes waggle-up {
  0% { transform:translateY(10px); }
  50% { transform:translateY(-10px); }
  100% { transform:translateY(0); }
}