---
layout: default
---

<section id="welcome">
    <div class="grid">
        <div class="column shrink centre">
            <figure id="home">
              <img id="am" class="round" src="assets/img/andrew-munroe.jpg" width="200" height="200">
              <figcaption id="circlelife">Here's what I'd look like if I lived inside a circle.</figcaption>
            </figure>
        </div>
        <div class="column">
            <h1>I'm Andrew Munroe, an award-winning digital producer based in Vancouver, BC.</h1>
            <p>I write, design, develop, and manage digital projects.<br>Say hello via <a href="mailto:mail@andrewmunroe.com">email</a>, <a href="https://ca.linkedin.com/in/andrewemunroe">LinkedIn</a>, or <a href="https://github.com/andrewmunroe">GitHub</a>.</p>
        </div>
    </div>
</section>
<section>
    <div class="grid reverse-on-sm">
        <div class="column">
          <img id="nbc" width="147" height="19" src="assets/img/nbc-news.png">
          <h3>design + development</h3>
          <p>My latest project is <em>The Fish You (Don't Know You) Eat</em>, a project published in partnership with <em>NBC News</em> that examined the social and environmental costs of global fishmeal production.</p><p>Winner of the 2020 DPA for Digital Editorial Package. <a href="https://globalreportingprogram.org/fishmeal">Check it out here</a> or take a look at some <a href="/recent-projects">other recent projects</a>.</p>
        </div>
        <div class="column shrink centre negative-margin-top">
          <img id="fishmeal" height="701" width="590" id="fm" src="assets/img/fishmeal.png">
        </div>
    </div>
</section>

<script>
  const circleType = new CircleType(document.getElementById('circlelife')).dir(-1).radius(115);
</script>