---
layout: default
---

<header>
  <div class="button-group" id="display-mode-controls" role="group" aria-labelledby="buttons-label">
    <span class="label" id="buttons-label">Display mode</span>
    <button class="active controls" type="button" value="okay">Plain</button><!--<button class="controls" type="button" value="bad">Bad UX</button>--><button class="controls" type="button" value="fancy">Fancy</button><button class="controls" type="button" value="emphatic">Emphatic!</button>
  </div>
</header>
<main aria-label="Content">
  <section>
    <span class="label" aria-hidden="true">h1</span>
    <h1>I’m Andrew Munroe, an award-winning digital producer and writer based in Vancouver.</h1>
  </section>
  <section>
    <h2 class="label">About me</h2>
    <div class="flex">
      <p>I develop, design, manage, and manage for digital projects — mostly things related to journalism, non-profits, and education. You can say hello via <a href="mailto:mail@andrewmunroe.com">email</a>, <a href="https://ca.linkedin.com/in/andrewemunroe">LinkedIn</a>, or <a href="https://github.com/andrewmunroe">GitHub</a>.</p>
      <div id="profiles">
        <figure><img class="round" width="80" height="80" src="assets/img/baby-andrew-munroe.jpg" alt="Andrew as a bébé" /><figcaption class="label">Then</figcaption></figure><figure><img class="round" width="80" height="80" src="assets/img/andrew-munroe.jpg" alt="Andrew as an adult" /><figcaption class="label">Now</figcaption></figure>
      </div>
    </div>
  </section>
  <section>
    <h2 class="label">Recent work</h2>
    <div class="flex portfolio-item">
      <div class="info">
        <img class="wide" alt="Stanley Park Ecology Society" src="assets/img/spes.png" width="99" height="27" />
        <h3><a href="https://thetyee.ca/big-melt/">Stanley Park Ecology Society</a></h3>
        <span class="label">Design & Development & Strategy</span>
      </div>
      <p>A custom-made WordPress theme for SPES. This incorporated donation management and ticket sales through the Zeffy fundraising platform, event scheduling, and CRM integration via Zapier — with ease of use and maintainability as top priorities.</p>
    </div>
    <div class="flex portfolio-item">
      <div class="info">
        <img alt="The Tyee" src="assets/img/tyee.svg" width="126" height="26" />
        <h3><a href="https://thetyee.ca/big-melt/">The Big Melt</a></h3>
        <span class="label">Art direction & Design & Development & Data Viz</span>
      </div>
      <p>This is the story of Klinaklini, one of the largest glaciers in North America, and the impacts of its accelerating melt rate. It was produced as an interactive feature with the Tyee and nominated for the 2022 DPA for Best Editorial Package.</p>
    </div>
    <div class="flex portfolio-item">
      <div class="info">
        <img alt="Disability Alliance BC" src="assets/img/dabc.png" width="66" height="18" />
        <h3><a href="https://disabilityalliancebc.org/dtc-app/">Disability Tax Credit Tool</a></h3>
        <span class="label">Design & Development & Strategy</span>
      </div>
      <p>A Vue.js based tool for the Disability Alliance BC to simplify applying for federal tax credits. This tool was refined based on my own testing with NVDA, and in-person beta test feedback from people who use assistive technology.</p>
    </div>
    <div class="flex portfolio-item">
      <div class="info">
        <img alt="FRONTLINE and PBS" src="assets/img/frontline-ap.png" width="66" height="18" />
        <h3><a href="https://globalreportingcentre.org/medical-supply-crisis/n95-masks/">America’s Medical Supply Crisis</a></h3>
        <span class="label">Art Direction & Design & Development</span>
      </div>
      <p>A project in collaboration with AP News and the PBS series FRONTLINE. I using SVG images and simple vanilla JS/CSS based animations. Nominated for a DPA for Best Digital Design.</p>
    </div>
    <div class="flex portfolio-item">
      <div class="info">
        <img alt="NBC News" src="assets/img/nbc-news.svg" width="120" height="22" />
        <h3><a href="https://globalreportingcentre.org/plastics/">The House that Plastic Built</a></h3>
        <span class="label">Writing & Design & Development & Data Viz</span>
      </div>
      <p>An interactive feature story on the history of subsidies to the plastics industry. Co-produced by NBC News. Nominated for the 2022 DPA’s Best Science and Technology Storytelling.</p>
    </div>
  </section>
</main>
<footer><p>Want to work together? Drop me a line at <a href="mailto:mail@andrewmunroe.com">mail@andrewmunroe.com</a>.</p></footer>